<!-- this is where the homepage goes, using HTML -->
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>Clothing Police</h1>
   
    <form action="/check" method="post">
     <div id = "items">
       <h3 id="infopage"><a href="infopage">Info Page</a></h3>
       <div id = "dress">
         <% dress = @new.dress.sample %>
       <img src="<%= dress['img'] %>" />
         <label for="pick1"><%= dress['name'] %></label>
         <div class = "details">
           <h5>color: <%= dress['color'] %></h5>
           <h5>size: <%= dress['size'] %></h5>
           <h5>price: <%= dress['price'] %></h5>
         </div>
       <input id="pick1" name="pick" type="radio" value="street harassment" /><br>
       </div>
      <br>
       <div id="shirt">
         <% shirt = @new.shirt.sample %>
       <img src="<%= shirt['img'] %>" />
         <label for="pick2"><%= shirt['name'] %></label>
       <input id="pick2" name="pick" type="radio" value="domestic violence"/><br>
         <div class = "details">
           <h5>color: <%= shirt['color'] %></h5>
           <h5>size: <%= shirt['size'] %></h5>
           <h5>price: <%= shirt['price'] %></h5>
         </div>
       </div>
      <br>
       <div id ="skirt">
         <% skirt = @new.skirt.sample %>
       <img src="<%= skirt['img'] %>"/>
         <label for="pick3"><%= skirt['name'] %></label>
      <input id="pick3" name="pick" type="radio" value="rape"/>
         <div class = "details">
           <h5>color: <%= skirt['color'] %></h5>
           <h5>size: <%= skirt['size'] %></h5>
           <h5>price: <%= skirt['price'] %></h5>
         </div>
       </div>
      <br>
       <div id="purse">
         <% purse = @new.purse.sample %>
         <img src="<%= purse['img'] %>"/>
         <label for="pick4"><%= purse['name'] %></label>
      <input id="pick4" name="pick" type="radio" value = "other"/>
       <div class = "details">
           <h5>color: <%= purse['color'] %></h5>
         <h5>size: <%= purse['size'] %></h5>
         <h5>price: <%= purse['price'] %></h5>
         </div>
         </div>
      </div>
      <div id="info">
      <br>
        <u>Contact Info</u><br>
      Name:<br>
      <input type="text" name="name" placeholder="your name here">
      <br>Phone number:<br>
      <input type="number" name="number" placeholder="enter 10 digit #">
      <br><br><input type="submit" value="Submit">
        <br>
      </div>
</form>
<!--    </form> -->
 </body>
</html>